html{ 
    
    box-sizing: border-box;
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}
   h1 { font-size:1.6rem; }
   h2 { font-size:1.4rem; }
   h4 { font-size:1.2rem; }
   #wrapper td { padding:.75rem; }
   #calcform { 
       max-width:500px; 
       padding:20px;
        background:#f0eedc;
         border:1px solid #e0e0e0;
          border-radius:7px; } 
   #calcform button img { filter:invert(100%); }
   #cal2tbl th { font-weight: normal; }
   #cal2tbl td { line-height:1; }
   #cal2tbl th p { word-break: break-all; }
   #cal2tbl p { line-height:1; }
   #cal2tbl tbody tr td:nth-child(3) { 
       background:#f8f8f8; border:dashed 1px #333; }
   #cal { background:#e9ecef; height:auto; }
   .m-b-25 {
       float: right;
    margin-bottom: 10px
   
}


